{% extends "GGTeamForumBundle::Admin/base.html.twig" %}

{% block content %}
    <ul>
    {% for category in categories %}
        <li>{{ category.name }}</li>
    {% else %}
        <li>Il n'y a pas de Catégories.</li>
    {% endfor %}
    </ul>
{% endblock %}