{% extends "GGTeamForumBundle::Admin/base.html.twig" %}

{% block content %}
    <ul>
    {% for category in categories %}
        <li>{{ category.name }}</li>
    {% else %}
        <li>Il n'y a pas de Catégories.</li>
    {% endfor %}
    </ul>
    <a href="{{ path("gg_team_forum_admin_addcategory") }}" class="btn btn-default btn-lg active" role="button">Ajouter une Catégorie</a>
{% endblock %}