<header>
    <h1>ShortyUrl</h1>
    <nav>
        <ul class="nav nav-pills nav-tabs nav-justified">
            <li {% if title == "Accueil" %}class="active"{% endif %}><a href="{{ path("shorty_homepage") }}">Accueil</a></li>
            <li {% if title == "Ajout d'un Lien" %}class="active"{% endif %}><a href="{{ path("shorty_add") }}">Crée ton Lien</a></li>
        </ul>
    </nav>
</header>