{% extends "GGTeamForumBundle::Front/templates/base.html.twig" %}

{% block content %}
    <div class="row">
        {% render url('fos_user_security_login') %}
    </div>
    <div class="row">
        {% render url('fos_user_registration_register') %}
    </div>
{% endblock %}