{% extends "::base.html.twig" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div>Lien : <a href='{{ path("shorty_redirect", {slug:url.slug}) }}'>{{ url.lien }}</a></div>
    <div>Slug : {{ url.slug }}</div>
{% endblock %}
