<li class="list-group-item">
    <span class="badge">{{ category.categories|length }} Sous-Catégories</span>
    <span class="badge">{{ category.countForum() }} Forums</span>
    <a href="{{ path("gg_team_forum_front_category", {idCategory:category.id}) }}" >{{ category.name }}</a>
</li>