<header>
    <h1>MonBundleForum</h1>
    <nav class="navbar">
        {% set currentPath = app.request.attributes.get('_route') %}
        <ul class="nav nav-pills nav-tabs nav-justified">
            <li {% if currentPath == "gg_team_forum_homepage" %}class="active"{% endif %}><a href="{{ path("gg_team_forum_homepage") }}">Forum</a></li>
            <li {% if currentPath == "gg_team_forum_listeusers" %}class="active"{% endif %}><a href="{{ path("gg_team_forum_listusers") }}">Utilisateurs</a></li>
            <li {% if currentPath == "gg_team_forum_admin" %}class="active"{% endif %}><a href="{{ path("gg_team_forum_admin") }}">Administration</a></li>
        </ul>
    </nav>
</header>