{% if category.parent is not null %}
    {% include "GGTeamForumBundle:Front/templates:recursive.breadcrumb.html.twig" with {'category': category.parent} %}
{% endif %}
<li><a href="{{ path("gg_team_forum_category", {idCategory:category.id}) }}">{{ category.name }}</a></li>